<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
	<tab id="anduel" translate="label" sortOrder="1" class="anduel-tab">
            <label>Anduel</label>
        </tab>
        <section id="hidestate" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
        <class>separator-top</class>
        <label>Hide State</label>
        <tab>anduel</tab>
        <resource>Anduel_StateRemoval::config</resource>
        <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
        <label>General</label>
            <field id="hidden_states" translate="label" type="multiselect" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Hidden States</label>
                <backend_model>Magento\Framework\App\Config\Value</backend_model>
            <source_model>Anduel\StateRemoval\Model\Config\Source\States</source_model>
            <comment>Select states that you want to hide from the frontend.</comment>
        </field>
        </group>
        </section>
    </system>
</config>
